// colors
$primary: #16abf8;
$black: #111111;
$grey-bg: #f4f4f4;
$danger: #ED4C5C;
$grey-text: #888888;
$soft-black: #4A4A4A;

// images
$ic-plus: "../images/icon-plus.svg";
$ic-delete: "../images/icon-delete.svg";
$ic-edit-h: "../images/icon-edit-h.svg";
$ic-edit-p: "../images/icon-edit-p.svg";
$ic-back: "../images/icon-back.svg";
$ic-close: "../images/icon-close.svg";
$ic-alert-sm: "../images/icon-alert-sm.svg";
$ic-danger-sm: "../images/icon-alert.svg";
$ic-dropdown: "../images/icon-dropdown.svg";
$ic-sort: "../images/icon-sort.svg";
$ic-sort-newest: "../images/icon-sort-newest.svg";
$ic-sort-oldest: "../images/icon-sort-oldest.svg";
$ic-sort-d-alpha: "../images/icon-sort-d-alpha.svg";
$ic-sort-a-alpha: "../images/icon-sort-a-alpha.svg";
$ic-sort-done: "../images/icon-sort-active.svg";
